
.articleTitle {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;

}

.source {
    padding-right: 5px;
    padding-left: 5px;
    background-color: slategray;
    border-color: slategray;
    border-style: solid;
    border-radius:  5px;
    margin-left: 40px;
}

.date {
    font-size: 20px;
}

.a {
    color: black;
    text-decoration: none;
}

